*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}
.box{
    border: 1px solid red;
    padding: 50px;
    /* display: block; */
    /* display: inline; */
    display: inline-block;
}




h1{
    float: right;
    font-size: 50px;
    color: red;
}




.parent-1{
    width: 90%;
    margin: 0 auto;
    display: flex;
    border: 1px solid red;
    /* justify-content: space-between; */
    /* justify-content: center; */
    /* justify-content: end; */
    /* justify-content: flex-start; */
    justify-content: space-around;
    /* justify-content: space-evenly; */
    align-items: center;
    height: 50px;

}
.box-1{
    border: 1px solid violet;
}



.container{
    width: 90%;
    margin: 0 auto;
    border: 1px solid red;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-items: end; */
    /* align-items: stretch; */
    gap: 50px;
}
.col-50{
    width: 50%;
    border: 1px solid coral;
}
img{
    width: 100%;

}
.col-33{
    width: 33.33%;
}
.col-25{
    width: 25%;
}